*{
    margin: 0 auto
}

body{
    background-color: #e2e2e2;
}

table, td, th {
    border-bottom: solid 1px #e2e2e2;
    border-collapse: collapse;
    padding: 6px;
}

th{
    color: darkgray;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
}

td{
    text-align: center;
    font-size: 14px;
    
}


.divTudo{
    font-family: Arial, Helvetica, sans-serif;
}

.divLinha{
    clear: both;
}

.h2TituloSessao{
    font-size: 15px;
    padding: 10px;
}

/* estilos do cabeçalho geral */

#divCabecalho{
    background-color: #162e58;
    min-height: 100px;
    padding: 20px 50px 10px 50px;
}

#h1TituloCabecalho{
    color:#ffff;
    float: left;
    min-width: 50%;
    font-size: 16px;
    text-align: left;
}

/*estilos Classificação */

#divClassificacao{
    width: 50%;
    background-color: #ffff;
    padding: 20px;
}

#tableClassificacao{
    width: 100%;
    background-color: #ffff;
}

#h3TituloGrupo{
    font-size: 14px;
    background-color: #ffff;
    padding: 9px;
}

.tdNomeClube{
    text-align: left;

}

.thNomeClube{
    width: 50%;

}

.tdPosicaoClube{
    width: 4%;
}

.thCincoUltimas{
    width: 20%;
}


.tdImgClube{
    width: 5%;
}

.imgClube{
    max-width: 20px;
    max-height: 20px;
}

.divVitoria{
    background-image: url('../img/v.svg');
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    float: left;
    margin-right: 5px;
}

.divEmpate{
    background-image: url('../img/e.svg');
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    float: left;
    margin-right: 5px;
}

.divDerrota{
    background-image: url('../img/d.svg');
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    float: left;
    margin-right: 5px;
}


/*estilo goleadores */

#divGoleadores{
    width: 50%;
    background-color: #ffff;
    padding: 20px;
}

#tableGoleadores{
    width: 100%;
    background-color: #ffff;
}

.tdJogador{
    width: 90%;
    text-align: left;
}

.spanNomeClube{
    color: darkgray;
    font-size: 12px;
}

#tableGoleadores td{
    padding: 20px 10px 10px 10px;
}

/* estilos jogos */

#divJogos{
    width: 50%;
    background-color: #ffff;
    padding: 20px;
}

#tableJogos{
    width: 100%;
    background-color: #ffff;
}

.tableJogo{
    width: 100%;
}

.thTableJogo{
    font-size: 12px;
    color:darkgray;
    text-align: left;
}

.tableJogo .tdClube {
    text-align: left;
    width: 80%;
}

.tableJogo .tdHorario {
    text-align: center;
    font-size: 11px;
}

.placar{
    font-size: 12px;
    
}